.search-item {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow);
    border: 1px solid lightgray;

    & img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }


    &__desc {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 2;

        .desc-name {
            text-transform: capitalize;
            font-size: 20px;
            color: var(--second-color);
        }

        .desc-distance {
            font-size: 12px;
        }
        .desc-subtitle {
            font-size: 12px;
            font-weight: bold;
        }
        .desc-feature {
            font-size: 12px;
        }
        .desc-cancel {
            font-size: 12px;
            color: var(--main-color);
            font-weight: bold;
        }
        .desc-cancel-subtitle {
            font-size: 12px;
            color: var(--main-color);
        }
        .desc-taxi {
            display: inline-block;
            font-size: 12px;
            background-color: var(--main-color);
            color: var(--text-white);
            width: max-content;
            padding: 3px;
            border-radius: 5px;
            padding: 3px;
        }
    }

    &__detail {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .detail-rating {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & span {
                font-weight: 500;
                font-size: 14px;
            }

            & button {
                background-color: var(--second-color);
                color: var(--text-white);
                padding: 5px;
                font-size: 12px;
                font-weight: bold;
                border: none;
            }
        }

        .detail-text {
            text-align: right;
            display: flex;
            flex-direction: column;
            gap: 5px;

            &__price {
                font-size: 24px;
                font-weight: 500;
            }

            &__tax {
                font-size: 12px;
                color: var(--text-dark);
            }

            &__btn {
                background-color: var(--second-color);
                color: var(--text-white);
                font-size: 12px;
                font-weight: bold;
                padding: 10px 15px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .search-item {
        width: 100%;

        & img {
            width: 100px;
            height: 200px;
        }

        &__desc {
            .desc-distance,
            .desc-cancel{
                display: none;
            }
        }

        &__detail {
            
            .detail-rating {
                & span {
                    visibility: hidden;
                }
            }
            .detail-text {
                &__tax {
                    display: none;
                }

                &__btn {
                    width: 100px;
                    padding: 8px;
                    font-size: 11px ;
                }
            }
        }
    }
}