:root {
    --main-color: #27ae60;
    --second-color: #38ada9;
    --third-color: #3ae374;
    --bg-white: #fff;
    --color-blue: #0071c2;

    --text-white: #fff;
    --text-black: #000;
    --text-gray: #cacaca;
    --text-gray2: gray;
    --text-dark: #333;

    --main-bg-admin: rgb(230, 227, 227);
    --text-color-admin: #7451f8;

    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    --mobile-width: 600px;
    --tablet-width: 1024px;
}