@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.user-container {
  padding: 50px 0;
}

.user-home__title {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}

.mb-1 {
  margin-bottom: 10px;
}

.admin {
  width: 100%;
  display: flex;
}

.admin-container {
  flex: 6;
}

.admin-list,
.add-new {
  width: 100%;
  display: flex;
}

.admin-list__container,
.add-new__container {
  flex: 6;
}

.add-new__title {
  font-size: 24px;
  color: gray;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 600;
}

.p-2 {
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
  }
  .user-container {
    padding: 20px !important;
  }
  .user-home__title {
    margin: 10px !important;
  }
}